@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300&display=swap');

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto Mono', monospace;
$border: none;
$background-color:#ffffff66;
$text-color: white;

*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  justify-content: center;
  padding: 5px;
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('./images/background2.jpeg');
}

header,
.clock {
  text-align: center;
  font-family: $primary-font;
  color: $text-color;
}

header {
  font-size: 2rem;
  margin-top: 2rem;
}

footer {
  text-align: center;
  font-family: $primary-font;
  color: $text-color;
  position: fixed;
  left: 0;
  bottom: 2rem;
  width: 100%;
  font-size: 2rem;
}

Form {
  padding: 10px;
  margin: 10px;
  border: $border;
  display: flex;
  text-align: center;
  // background-color: $background-color;
}

button {
  background-color: #ffffff00;
  border: none;
  cursor: pointer; 
  color: white;
}

input:focus{
  outline: none;
  opacity: 0.9;
}

.todo{
  display: flex;
  cursor: pointer;
  :hover{
    color: #ffffffac;
  }
}

.todo-list {
  text-align: center;
  border: $border;
  font-family: $secondary-font;
  color: $text-color;
  font-size: 3rem;
  margin-left: 5rem;
  // background-color: $background-color;
}

.todo-input {
    margin-top: 2rem;
    height: 2rem;
    width: 25rem;
}

.todo-button {
  margin-top: 2rem;
  margin-right: 1rem;
  :hover {
    color: #ffffff87;
  }
}
.add-button {
  height: 2rem;
  width: 2rem;
}


.filter-todo {
  margin-top: 2rem;
  margin-right: 1rem;
  height: 2rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

li {
  list-style-type: none;
}

.time-now{
  font-size: 6rem;
  font-weight: bold;
}

.date{
  font-size: 1rem;
}


.check-button,
.delete-button {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  :hover {
    color: #ffffff87;
  }
}

.weather{
  font-size: 2.5rem;
}

.weather-icon {
  height: 5rem;
  width: 5rem;
}